@dark-blue: #393e6b;
@green-blue: #2cd3b8;
@gray: #74757b;
@light-gray: #eff4f4;
@footer-gray: #c0c3d3;


body{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}

li {
    list-style-type: none; 
}

ul {
	margin-left: 0; 
	padding-left: 0; 
}

a:active, a:hover, a{ 
	color: @green-blue;
	text-decoration: underline;
}

button, button:active, button:focus { outline: none; border: none;}

header{
	background: no-repeat url(../img/header.png) white;
	background-size: auto 71px;
	position:fixed;
    left: 0;
    top: 0;
   	height: 70px;
    z-index: 100;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
	-webkit-box-shadow: 0 3px 10px -8px #000;
	-moz-box-shadow: 0 3px 10px -8px #000;
	box-shadow:0 0 5px rgba(0,0,0,0.8);
	
	.head-container{
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    max-width: 1468px;
	    margin: 0 auto;
	    padding: 0 10px;
	}

	.head-nav {
  		height: 100%;
  		width: 100%;
  		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    padding-top: 10px;

	    ul {
	    	display: -webkit-inline-box;
	    	display: -ms-inline-flexbox;
	    	display: inline-flex;

	    	li {
    			margin: 0 1rem;

				a:active, a:hover, a{ 
					color:@dark-blue;
					font-size: 17px;
					text-decoration: none;
				}
			}
		}
	}
	
	#right-ul{
		position: relative;
		margin-left: auto;
	}

	.logo{
		margin-top: 6px;
	}

	.nav-opener {
		display: none;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 34px;
   		height: 30px;
		top: 20px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		transition: background 0.3s;
	}

	.nav-opener span {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 3px;
	  background: @green-blue;
	}

	.nav-opener span:before, 
	.nav-opener span:after{
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: @green-blue;
		content: "";
	}

	.nav-opener span::before {
		top: 8px;
	}
	 
	.nav-opener span::after {
		bottom: -16px;
	}
	 
	.nav-opener span::before,
	.nav-opener span::after {
	  transition-duration: 0.3s, 0.3s;
	  transition-delay: 0.3s, 0s;
	}
	 
	.nav-opener span::before {
	  transition-property: top, transform;
	}
	 
	.nav-opener span::after {
	  transition-property: bottom, transform;
	}
	 
	.nav-opener.is-active span {
	  background: none;
	}
	 
	.nav-opener.is-active span::before {
	  top: 11px;
	  transform: rotate(45deg);
	}
	 
	.nav-opener.is-active span::after {
	  bottom: -11px;
	  transform: rotate(-45deg);
	}
	 
	.nav-opener.is-active span::before,
	.nav-opener.is-active span::after {
	  transition-delay: 0s, 0.3s;
	}
}

.title{
	padding-top: 70px;
	padding-bottom: 60px;

	h2{
		font-weight: bold;
		color: @dark-blue;
		font-size: 36px;
	}
	
	p{
		color: @gray;
		font-size: 16px;
	}
}

.container{
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 67px;
}

.webim-button{
	  width: 256px;
	  height: 48px;
	  border-radius: 20px;
	  font-size: 15px;
	  font-weight: bold;
	  margin-right: 20px;
}

#try{
	color: white;
	background-color: @green-blue;
}

#install{
	margin-top: 70px;
	background-color: @light-gray;

	#tariff{
		color: @dark-blue;
		border: solid 1px @dark-blue;
		background-color: transparent;
	}
}

#simple-install{

	.install{
		display: inline-flex;

		.install-item{
			margin-right: 40%;

			a {
				color: @green-blue;
				font-size: 18px;
				text-decoration: underline;
			}
		}

		#install-01, #install-02{
			width: 100px; height: 120px;
			margin-left: -40px;
			margin-bottom: 26px;
		}

		#install-01{background: url('../img/sprites/installation.png') -126px;}
		#install-02{background: url('../img/sprites/installation.png') -10px;}
	}
}

#html-install{
	background-color: @light-gray;
}
	.install-list{
		margin-top: 0;

		li{
			list-style-type: disc;
			color: @dark-blue;
			font-size: 24px;
			margin-left: 22px;
		}

		a{
			color: @green-blue;
			text-decoration: underline;
		}

		p{
			color: @gray;
			font-size: 16px;
		}
	}

#after-install{
	background-color: @light-gray;

	.after-install-steps{
		margin-bottom: 50px;

		p{
			color: @dark-blue;
			font-size: 18px;

			span{
				font-weight: bold;
				font-size: 24px;
			}
		}

		td{
			height: 96px;
		}

		.after-install-step{
			width: 74px;
  			height: 74px;
  			border-radius: 50%;
  			margin-right: 30px;
		}
	}

	#test{
		background-color: @dark-blue;
		color: white;
	}
	
	#step1 {
	    background: url('../img/sprites/steps.png') @green-blue 64px 19px;
	}
	#step2 {
	    background: url('../img/sprites/steps.png') @green-blue 66px 78px;
	}

	#step3 {
	    background: url('../img/sprites/steps.png') @green-blue 10px 10px;
	}
	#step4 {
	    background: url('../img/sprites/steps.png') @green-blue -45px -91px;
	}
	#step5 {
	    background: url('../img/sprites/steps.png') @green-blue 10px 64px;
	}
	#step6 {
	    background: url('../img/sprites/steps.png') @green-blue 126px 79px;
	}
}

#channels{
	.title{
		p{
			color: @dark-blue;
		}
	}

	.channel-list{
		display: flex;
		flex-wrap: wrap;

		.channel{	
			min-width: 300px;
			display: table;
			margin-bottom: 40px;

			.ch-img{
				height: 50px;
				width: 46px;
				margin-right: 20px;
			}

			a{
				display: table-cell;
  				vertical-align: middle;
  				width: 100%;
			}
		}
	}

	#ch1{background:url('../img/sprites/channels.png') -6px -2px;}
	#ch2{background:url('../img/sprites/channels.png') 114px -67px;}
	#ch3{background:url('../img/sprites/channels.png') 54px 114px;}
	#ch4{background:url('../img/sprites/channels.png') 114px -6px;}
	#ch6{background:url('../img/sprites/channels.png') -6px -67px;}
	#ch5{background:url('../img/sprites/channels.png') -6px 57px;}
	#ch7{background:url('../img/sprites/channels.png') 54px -6px;}
}

footer{
    background-color: @dark-blue;
    overflow-x: hidden;

    a:active, a:hover, a{ 
		text-decoration: none;
		color: white;
	}

    .footer-container{
		width: 100%;
	    margin: 0 auto;  
	    min-height: 191px;
	    padding: 50px 15px;
    
    	.fs-block {
		    float: left;
		    margin-right: 2%;
		    padding: 0;
		    box-sizing: border-box;
		}

	    .flogo{
	    	width: 24%;

	    	.falogo {
			    width: 100%;
			    height: 43px;
			    box-sizing: border-box;
			    display: block;
			    text-decoration: none;
			    padding: 5px 0;
			    margin-bottom: 15px;
			    background:  5% / 55% 50% no-repeat url(../img/logo_webim_footer.svg);
			    background-size: 149px 173px
			}

			p {
			    font-size: .875rem;
			    line-height: 1.125rem;
			    color:@footer-gray;
			}
	    }

	    .fphones_adress {
		    width: 40%;

		    .fgphone {
			    width: 100%;
			    padding: 10px 0 10px 40px;
			    font-size: 1.5rem;
			    line-height: 1.5rem;
			    font-weight: bold;
			    color: #fff;
			    background: url('../img/footer_phone.svg') no-repeat 0 50%;
			    background-size: 28px 28px;
			    margin-bottom: 10px;
			}

			.fphone {
			    width: 100%;
			    font-size: 1.25rem;
			    line-height: 1.25rem;
			    font-weight: bold;
			    color: white;
			    margin-bottom: 7px;
			}

			.fadress {
			    width: 100%;
			    font-size: 1rem;
			    line-height: 1rem;
			    font-weight: 300;
			    color: @footer-gray;
			    margin-bottom: 25px;
			}
		}

		.fmails_social {
		    width: 32%;
		    margin-right: 0;

		    .fmail {
			    width: 100%;
			    display: block;
			    font-size: 1rem;
			    line-height: 1.5rem;
			    font-weight: bold;
			    color: white;
			}

			.jtime {
			    margin: 10px 0 15px;
			    font-size: 1rem;
			    line-height: 1rem;
			    font-weight: 300;
			    color: @footer-gray;
			}

			.fsocial {
			    width: 100%;
			    height: 24px;

			    .fvk-link {
				    background: url('../img/vk_footer.svg') no-repeat 50% 50%;
				    background-size: 24px 24px;
				}

				.ffb-link {
				    background: url('../img/fb_footer.svg') no-repeat 50% 50%;
				    background-size: 24px 24px;
				}

				.youtube-link {
				    background: url('../img/youtube-symbol.svg') no-repeat 50% 50%;
				    background-size: 20px 20px;;
				}
				.ftelegram-link {
				    background: url('../img/logo-telegram.svg') no-repeat 50% 50%;
				    background-size: 20px 20px;;
				}
			}
		}
	}	
}

@media screen and (max-width: 992px) {
	header{
		background-image: none; 
		transition: all .5s;
		.head-nav {
			display: none; 
			ul { 
				display: none; 
			}
		}
		.nav-opener{
   	 		display: block;
  		}
  		.logo{
	  		height: 40px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

@media screen and (max-width: 992px) {
	header{
			 .responsive {
				position: absolute; 
				display: flex;
				top: 55px;
				ul {
		   			float: none;
		    		display: block;
		    		text-align: center;
		    		margin-left: auto;
		    		margin-right: auto;
		  		}
			}
			#right-ul{
				margin-left: 0;
			}
	}
}

@media screen and (max-width: 829px) {
	.webim-button{
	  margin-bottom: 20px;
}

	footer{
	    .footer-container{
		   .flogo .falogo {
				display: none;
			}

		    .fphones_adress {
			    display: none;
			}

			.fmails_social {
				display: none;
			}
		}	
	}
}


